<h2 class="mb-3">Añade una pregunta!</h2>
<p>Selecciona una categoria</p>


  <div class="categories">
    <ul>
      <li class="border border-2 border-info px-5 mb-3 py-3 question-pill" routerLink="/addQuestion" (click)="setCategory('Facil')">
        Facil
      </li>
      <li class="border border-2 border-info px-5 mb-3 py-3 question-pill" routerLink="/addQuestion" (click)="setCategory('Medio')">
        Medio
      </li>
      <li class="border border-2 border-info px-5 mb-3 py-3 question-pill" routerLink="/addQuestion" (click)="setCategory('Dificil')">
        Dificil
      </li>
      <li class="border border-2 border-info px-5 mb-3 py-3 question-pill" routerLink="/addQuestion" (click)="setCategory('Maestro')">
        Maestro
      </li>
      <li class="border border-2 border-info px-5 mb-3 py-3 question-pill" routerLink="/addQuestion" (click)="setCategory('Legendario')" >
        Legendario
      </li>
    </ul>
  </div>


<div class="d-grid gap-2" style="width: 400px; margin: auto">
  <button type="button" class="btn btn-secondary btn-lg" routerLink="">
    Volver
  </button>
</div>
